<div class="row">
  <div class="col-md-8 card_editor">
    <h4 style="display: inline;">ADDRESS SIDE</h4>
    <a href="#" id="custom_background_front" style="display: inline; float: right;">Go Custom - Add Background</a>
    <div class="col-xs-12 address_background card_display">
      <%= image_tag('address-side.png', :class => "card_display", :style => "visibility: hidden;") %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 card_editor">
    <h4 style="display: inline;">MESSAGE SIDE</h4>
    <a href="#" id="no_text" style="display: inline; float: right;">Go Custom - Remove Editable Text</a>
    <div class="col-xs-12 coupon_background card_display">
      <%= image_tag('coupon-bg.png', :class => "card_display", :style => "visibility: hidden;") %>
    </div>
  </div>
</div>
