<%= currently_at "Settings" %>

<div class="panel">
  <section>
    <br>
    <% if @shop.current_subscription %>
      <p>
      You are subscribed to <strong><%= @shop.current_subscription.quantity %></strong> postcards per month. &nbsp
      <%= link_to 'Edit', edit_subscriptions_path, class: "mdc-button mdc-button--stroked mdc-button--dense" %>
      </p>
      <p>
        Your next billing date is on <strong><%= @current_shop.current_subscription.current_period_end.to_date %></strong>
      </p>
    <% else %>
      You are not currently subscribed.
    <% end %>
  </section>
</div>


