<%= currently_at "Settings" %>

<div class="panel">
  <section>
    <br>
    <% if @shop.current_subscription %>
      <p>
      You are subscribed to <strong><%= number_to_currency(@current_shop.current_subscription.value) %></strong> per month. &nbsp
      <%= link_to edit_subscriptions_path do %>
        <button class="mdc-button mdc-button--stroked">Edit</button>
      <% end %>
      </p>
      <p>
        Your next billing date is on <strong><%= @current_shop.current_subscription.current_period_end.to_date %></strong>
      </p>
    <% else %>
      You are not currently subscribed.
    <% end %>
  </section>
</div>


