<%= currently_at "Settings" %>

<div class="panel">
  <section>
    <br>
    You are subscribed to <strong><%= @shop.current_subscription.quantity %></strong> postcards per month. &nbsp
    <%= link_to 'Edit', edit_subscription_path(@shop.current_subscription), class: "mdc-button mdc-button--stroked mdc-button--dense" %>
  </section>
</div>


