<div class="panel">
  <div class="form-content">
    <div class="preview-post-card">
      <div class="row center">
        <div class="col-8">
          <iframe src=<%= @post_card_url %> width='100%' height="500px"></iframe>
        </div>
      </div>
      <div class="row center">
        <strong class="number-records">Number of records: 20</strong>
      </div>
      </div>
      <div class="row center">
        <span class="message hide"></span>
      </div>
      <div class="row center">
        <div class="cancel-preview-postcard">
          <button >Cancel</button>
        </div>
        <div>
          <input type="submit" value="Send" class="send-postcard-to-lob">
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var post_card_id = "<%= params[:postcard_id] %>";
    $(".send-postcard-to-lob").click(function(){
      $.ajax({
        url: '/admin/campaign_tool/send_post_cards_to_lob',
        type: "POST",
        dataType: "JSON",
        data: {post_card_id: post_card_id},
      }).done(function(response) {
        if(response.success){
          $(".message").addClass("success").text(`${response.message}`).css("display", "block")
          $(".send-postcard-to-lob").hide();
        }
      }).fail(function(error) {});
    });

    $(".cancel-preview-postcard button").click(function(){
      window.location = "/admin/campaign_tool"
    })
  });
</script>