@import "../base/mixins";

.automation-listing {
  //@include white-bg();
  //min-width: 800px;
  width: 640px;
}

.automation-main {
  // background: lightsalmon;
}


.automation-controls {
  // background: cyan;
}

.automation-controls > div {
  text-align: center;
  // background: cyan;
}


.automation-image {
  // background: darkorange;
  width: 200px;
}

.automation-image img{
  width: 200px;
  padding: 1em;
}


.automation-data {
  // background: greenyellow;
}



.automation-row:hover {
  background-color: inherit !important;
}

//td a {
//  display: block;
//}


.automation-card-thumb {
  width: 220px;
  height: 150px;
  background: #b3d4fc;
  margin: 0;
}

//.automation-card-thumb:hover {
//  background-blend-mode: ;
//  background-color: orangered;
//  color: green;
//}

.automation-card-thumb:hover {
  //color: #5b3e82;
  opacity: 0.7;
  transition: 0.5s;
}
//.automation-card-thumb:hover:before {
//  content: 'EDIT';
//  text-align: center;
//  position: absolute;
//  //top: 0;
//  //left: 0;
//  //width: 100%;
//  //height: 100%;
//  //background: rgba(255, 255, 255, 0.3);
//}

.automation-card-background {
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


//.automation-card-background:hover:after {
//  width: inherit;
//  height: 40%;
//  top: 50%;
//  position: absolute;
//  //border-width: 1px 1px 0 0;
//  content: 'EDIT';
//  //background: #256f9e;
//  background: black;
//  display: block;
//  //height: 30px;
//  //width: 100%;
//
//
//  z-index: 99;
//}



.automation-thumb-overlay {
  position: relative;
  width: 100%;
  height: 20%;
  top: 80%;
  background-color: rgba(0, 0, 0, 0.5);

}


.automation-thumb-button {
  background: white !important;
  display: inline-block;
  margin: auto;

  //text-align: center;
  //top: 40px;
}

.automation-thumb-button::before{
  background: initial !important;
}

