// Place all the styles related to the automations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "../base/mixins";

.automation-listing {
  //@include white-bg();
  //min-width: 800px;
  width: 640px;
}

.automation-main {
  // background: lightsalmon;
}


.automation-controls {
  // background: cyan;
}

.automation-controls > div {
  text-align: center;
  // background: cyan;
}


.automation-image {
  // background: darkorange;
  width: 300px;
}

.automation-image img{
  //align: float;
  width: 300px;
  padding: 1em;
}


.automation-data {
  // background: greenyellow;
}


// Card Editor

.card-side-image {
  //max-width: 825px;
  max-width: 625px;
}

[v-cloak] {
  display: none;
}


.card-side-canvas {

  //position: relative;

  //max-width: 625px;
  //max-height: 425px;

  border-width: 1px;
  border-style: dashed;
  //background-color: rgba(230, 255, 230, 0.5);


  //display:inline-block;
  // style="  background-color: lightyellow;"
  // background-color: lightyellow;
}

.card-editor-container {
  //width: 100px;
  //height: 100px;
  //background-color: lightyellow;
}

// Fabric.js automatically creates a div of classs `canvas-container` to wrap
// the canvas object.
//.canvas-container {
//  //background-color: purple;
//  display:inline-block;
//}

