.cancel-postcard-button-icon {
  color: grey;
}


.mdl-data-table {
  width: 100%;
  td, th {
    text-align: left;
  }
}
.sales-realized-card {
  @include white-bg();
}

.cards-sent-card {
  @include white-bg();
}

.scheduled-cards-container {
  margin-top: 20px;
}

.dashboard-campaign-selector {
  height: 36px !important;
  padding-right: 16px;
  text-align: start;
  text-transform: none;
  text-overflow: ellipsis;
  color: black !important;
}

.expand_more {
  position: absolute;
  top: 6px;
  right: 5px;
  pointer-events: none
}

.summarize-tabs .col, .campaign-dropdown .col {
  min-width: 218.2px;
}