.cancel-postcard-button-icon {
  color: grey;
}


.mdl-data-table {
  width: 550px;
  td, th {
    text-align: left;
  }
}
.sales-realized-card {
  @include white-bg();
}

.cards-sent-card {
  @include white-bg();
}

.scheduled-cards-container {
  margin-top: 20px;
}
