//.main-nav {
//  background: rebeccapurple;
//}

.mdc-tab {
  min-width: 80px;
}



//a { text-decoration: none; color: white; }

.start-checkout-button
{
  font-weight: bold;
  background: darkorange !important;
}



//#right-toolbar-section
//{
//    position: absolute;
//    right: 0;
//    //bottom: 0;
//    bottom: -16px;
//}
