
.checkout-slider-wrapper {
  //color: grey;
  width: 50%;
  margin: auto;
}

.checkout-quantity-display {
  text-align: center;
}

////.stripe-button .stripe-button-el {
////  //background: red !important;
////  display: none !important;
////  visibility: hidden !important;
////  background: green !important;
////}
//
//
//.stripe-button-el span {
//  display: none !important;
//  visibility: hidden !important;
//  background: red !important;
//}
//
//
////.stripe-button-el {
////  display: none;
////  visibility: hidden;
////  //background: red !important;
////}

[v-cloak] {
  display: none;
}
