

<!--
If we handle the upload here with Ajax the file upload may NOT want to be part
of the rails form, because that automatically makes the form a multipart upload

< %= form.file_field :fileFieldName, accept: 'image/png,image/jpeg' %>
-->





<div class="mdl-cell mdl-cell--6-col">
<h3 class="uppercase"></h3>
  <div>
    <div class="file-upload-stylized mdl-textfield mdl-js-textfield full-width">
      <input
      class="mdl-textfield__input"
      onChange={this.handleChange}
      type="file"
      id="image-uploader"
      />
      <div>
        <small class="help-block">
          Image must be 1875px by 1275px including a 75px bleed -
          <a href="<%= "/images/#{side == :front ? 'image' : 'address' }-side-example.jpg" %>" target="_blank">
            example
          </a>
          <a href="<%= "/images/#{side == :front ? 'image' : 'address' }-side-guide.jpg" %>" target="_blank">
          template
          </a>
        </small>
      </div>
    </div>
  </div>
  CardSideCheckBoxes
  <div class="layers">
    <!--<div class={`layer ${this.state.showBleed ? 'bleed' : ''}`} />-->
    <!--<div class={`layer ${this.state.showSafeArea ? 'safe-area' : ''}`} />-->
    <div class="card-side">
      <div class="layers">
        <div class="postage layer">

          <!-- %= image_tag  "postage-no-return.png" % -->
        </div>
        Draggable - DiscountCodeBox
        <div class="layer">
          <img class="image" src="" />
        </div>
      </div>
    </div>
  </div>
</div>


