

<div className="mdl-cell mdl-cell--6-col">
  <h3 className="uppercase"></h3>
  <div>
    <div className="file-upload-stylized mdl-textfield mdl-js-textfield full-width">
      <input
      className="mdl-textfield__input"
      onChange={this.handleChange}
      type="file"
      id="image-uploader"
      />
      <div>
        <small className="help-block">
          Image must be 1875px by 1275px including a 75px bleed -
          <a href={`/images/${this.props.isBack ? 'address' : 'image'}-side-guide.jpg`} target="_blank">
          template
          </a>,
          <a href={`/images/${this.props.isBack ? 'address' : 'image'}-side-example.jpg`} target="_blank">
          template
          </a>
        </small>
      </div>
    </div>
  </div>
  CardSideCheckBoxes
  <div className="layers">
    <!--<div className={`layer ${this.state.showBleed ? 'bleed' : ''}`} />-->
    <!--<div className={`layer ${this.state.showSafeArea ? 'safe-area' : ''}`} />-->
    <div className="card-side">
      <div className="layers">
        <div className="postage layer">

          <!-- %= image_tag  "postage-no-return.png" % -->
        </div>
        Draggable - DiscountCodeBox
        <div className="layer">
          <img className="image" src="" />
        </div>
      </div>
    </div>
  </div>
</div>


