<%= content_tag :div,
                id: "automation-editor",
                data: {
                    id: automation.id,
                    automation: automation.to_json(include: [:card_side_front, :card_side_back]),
                    # automation: automation.to_json(only: [:type, :discount_pct, :discount_exp, :enabled, :international, :send_delay, :card_side_back]),
                    aws_sign_endpoint: aws_sign_endpoint
                    # players_attributes: team.players.to_json(except: [:team_id, :created_at, :updated_at]),
                } do %>

    <button v-on:click="saveAutomation">Save</button>
    <h3>{{automation.type}}</h3>

    <input type="checkbox" v-model="enableDiscount">


    <div v-if="enableDiscount">
      <div>Discount Percent: <input type="number" min="0" max="100" v-model="automation.discount_pct"></div>
      <div>Discount Expiration (weeks):<input type="number" min="1" max="999" v-model="automation.discount_exp"></div>
    </div>

    <hr />

    <h2>Front</h2>
    Select an image: <input type="file" accept="image/png,image/jpeg"  v-on:change="onFrontImageFileChange">
    <br>
    <img class="card_side_image" v-bind:src="frontSideImage || automation.card_side_front.image">

    <hr />

    <h2>Back</h2>
    Select an image: <input type="file" accept="image/png,image/jpeg"  v-on:change="onBackImageFileChange">
    <br>
    <img class="card_side_image" v-bind:src="backSideImage || automation.card_side_back.image">

    <hr />

<% end %>


