<%= javascript_pack_tag 'AutomationEditorPack' %>
<%= content_tag :div,
                id: "automation-editor",
                data: {
                    id: automation.id,
                    automation: automation.to_json(only: [:id, :type, :discount_pct, :discount_exp, :enabled, :international, :send_delay, :card_side_back]),
                    card_side_front_attributes: automation.card_side_front.to_json(only: [:image, :discount_x, :discount_y]),
                    card_side_back_attributes: automation.card_side_back.to_json(only: [:image, :discount_x, :discount_y]),
                    aws_sign_endpoint: aws_sign_endpoint,

    } do %>

    <button v-on:click="saveAutomation">Save</button>
    <h3>{{automation.type}}</h3>

    <input type="checkbox" v-model="enableDiscount">


    <div v-if="enableDiscount">
      <div>Discount Percent: <input type="number" min="0" max="100" v-model="automation.discount_pct"></div>
      <div>Discount Expiration (weeks):<input type="number" min="1" max="999" v-model="automation.discount_exp"></div>
    </div>

    <hr />

    <h2>Front</h2>
    Select an image: <input type="file" accept="image/png,image/jpeg"  v-on:change="onNewFrontImage">
    <br>
    <img class="card-side-image" v-bind:src="newFrontImageData || automation.card_side_front_attributes.image">

    <hr />

    <h2>Back</h2>
    Select an image: <input type="file" accept="image/png,image/jpeg" v-on:change="onNewBackImage">
    <br>
    <img class="card-side-image" v-bind:src="newBackImageData || automation.card_side_back_attributes.image">

    <hr />

<% end %>


