<%= javascript_pack_tag 'CardEditor' %>

<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-spinner mdl-js-spinner mdl-spinner--single-color is-active"></div>
  <div class="mdl-layout-spacer"></div>
</div>
