AC_API_KEY: 'DUMMY'
AC_CUSTOMERS_LIST_ID: '9'
AC_ENDPOINT: 'https://touchcard.api-us1.com/admin/api.php'
AC_INSTALLED_SHOP_LIST_ID: '1'
APP_URL: '<YOUR_DEV_APP.ngrok.io>'
AWS_ACCESS_KEY_ID: 'DUMMY'
AWS_REGION: 'us-east-1'
AWS_SECRET_ACCESS_KEY: 'DUMMY'
DATABASE_URL: "postgresql://postgres:postgres@postgres:5432/$POSTGRES_DB"
LOB_API_KEY: 'test_4a3454bb166a23bd020b07d0ace58291b2d'
MAIL_FROM: 'example@example.com'
MAILGUN_API_KEY: 'DUMMY'
MAILGUN_DOMAIN: 'DUMMY'
REDISCLOUD_URL: 'DUMMY'
S3_BUCKET_NAME: 'touchcard-data-dev'
SHOPIFY_CLIENT_API_KEY: '<YOUR SHOPIFY APP'S API KEY>'
SHOPIFY_CLIENT_API_SECRET: '<YOUR SHOPIFY APP'S SECRET>'
SLACK_URL: 'DUMMY'
STRIPE_SECRET: 'sk_test_8TwMlbPe8RiXkCANWtfp2SYq'
SUBSCRIPTIONS_GOAL_STRING: 'DUMMY'
