AC_API_KEY: 'DUMMY'
AC_CUSTOMERS_LIST_ID: '9'
AC_ENDPOINT: 'https://touchcard.api-us1.com/admin/api.php'
AC_INSTALLED_SHOP_LIST_ID: '1'
APP_URL: '<your url>'
AWS_ACCESS_KEY_ID: 'DUMMY'
AWS_BUCKET_NAME: 'DUMMY'
AWS_REGION: 'DUMMY'
AWS_SECRET_ACCESS_KEY: 'DUMMY'
DATABASE_URL: "postgresql://postgres:postgres@postgres:5432/$POSTGRES_DB"
LOB_API_KEY: 'DUMMY'
MAIL_FROM: 'DUMMY'
MAILGUN_API_KEY: 'DUMMY'
MAILGUN_DOMAIN: 'DUMMY'
REDISCLOUD_URL: 'DUMMY'
S3_BUCKET_NAME: 'touchcard-data-dev'
SHOPIFY_CLIENT_API_KEY: 'shopify api key'
SHOPIFY_CLIENT_API_SECRET: 'shopify secret key'
SHOPIFY_REDIRECT_URI: '<your url>/auth/shopify/callback'
SLACK_URL: 'DUMMY'
STRIPE_SECRET: 'sk_test_8TwMlbPe8RiXkCANWtfp2SYq'
SUBSCRIPTIONS_GOAL_STRING: 'DUMMY'
