common: &default_settings
  # Required license key associated with your New Relic account.
  license_key: '<%= ENV["NEW_RELIC_LICENSE_KEY"] %>'

  # To disable the agent regardless of other settings, uncomment the following:
  # agent_enabled: false

  # Logging level for log/newrelic_agent.log
  log_level: info
  app_name: <%= ENV["HEROKU_APP_NAME"] %>

staging:
  <<: *default_settings

production:
  <<: *default_settings
