<div class="checkout-slider-wrapper">
  <div ref="quantitySlider" class="mdc-slider" tabindex="0" role="slider"
       aria-valuemin="0" aria-valuemax="<%= slider_max %>" aria-valuenow="<%= slider_index %>" data-step="1"
       aria-label="Select Value">
    <div class="mdc-slider__track-container">
      <div class="mdc-slider__track"></div>
    </div>
    <div class="mdc-slider__thumb-container">
      <!--<div class="mdc-slider__pin">-->
      <!--<span class="mdc-slider__pin-value-marker">10</span>-->
      <!--</div>-->
      <svg class="mdc-slider__thumb" width="21" height="21">
        <circle cx="10.5" cy="10.5" r="7.875"></circle>
      </svg>
      <div class="mdc-slider__focus-ring"></div>
    </div>
  </div>
</div>
