<script src="https://checkout.stripe.com/checkout.js"></script>

<div class="billing top-m-20">
  <section>
    <button class="mdl-button mdl-js-button mdl-button--raised">
      <i class="material-icons">keyboard_backspace</i> Back
    </button>
    <div class="card text-center">
      <div class="jumbotron text-center">
          <div class="container">
          <h1><i class="material-icons">print</i> + <i class="material-icons">email</i> = 99&cent;</h1>
          <p>
            <strong>PRINT</strong> and <strong>MAIL</strong> cards for just <strong>99&cent;</strong> in the USA
          </p>
        </div>
      </div>
      <!-- {{#if subscription}} -->
        <div class="alert alert-info current-plan">
          Your current plan is for <strong>plan name</strong> cards/month.
        </div>
      <!-- {{/if}} -->
      <h4>How many customers do you want to reach this month?</h4>
      <div class="customers">
        <i class="material-icons f-s-500">group_add</i>
        <input type="text" class="number f-s-500" size="2" />
        <!-- {{input
          class="number"
          type="text"
          pattern="^([0-9]+)$"
          maxlength="4"
          value=model.cards}} -->
      </div>
      <div class="text-center top-m-20">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
          We recommend at least <strong>no of customers</strong> customers*
        </button>
        <div>
          <small>*based on new customers last month</small>
        </div>
      </div>
      <br>
      <p>
        <strong class="price">
          10.00
        </strong>
         to raise your customer lifetime value
        <button id="customButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
          Buy Now
        </button>
      </p>
    </div>
  </section>
</div>

<script>
  // var handler = StripeCheckout.configure({
  //   key: 'pk_test_6pRNASCoBOKtIshFeQd4XMUh',
  //   image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
  //   locale: 'auto',
  //   token: function(token) {
  //     var quantity = $('.number').val();
  //     $.post({
  //       type: 'POST',
  //       url: '/subscription',
  //       data: { token: token.id, quantity: quantity }
  //     })
  //     // You can access the token ID with `token.id`.
  //     // Get the token ID to your server-side code for use.
  //   }
  // });

  document.getElementById('customButton').addEventListener('click', function(e) {
    // Open Checkout with further options:
    handler.open({
      name: 'Stripe.com',
      description: '2 widgets',
      zipCode: true,
      amount: 2000
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation:
  window.addEventListener('popstate', function() {
    handler.close();
  });
</script>
