<script src="https://checkout.stripe.com/checkout.js"></script>




<div class="billing top-m-20 panel">
  <br>
  <%= link_to :back, class: "mdc-button mdc-button--stroked" do %>
    <!--<i class="material-icons mdc-button__icon">keyboard_backspace</i>-->
    Back
  <% end %>
  <br>
  <section class="text-center">
    <br>
    <div class="jumbotron top-m-20">
      <div class="container">
        <div class="f-s-300"><i class="material-icons">print</i> + <i class="material-icons">email</i> = 99&cent;</div>
        <div><strong>PRINT</strong> and <strong>MAIL</strong> cards for just <strong>99&cent;</strong> in the USA</div>
      </div>
    </div>


    <h3>How many customers do you want to reach this month?</h3>

    <div><span class="checkout-quantity-display f-s-400">&nbsp</span><span class="f-s-200">&nbsp</span></div>


    <!-- IMPORTANT: If you change these you have to change the slider quantity `aria-valuemax` as well -->
    Last Month: <%= @current_shop.last_month %>

    <select class="hidden checkout-quantity-select">
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="75">75</option>
      <option value="100">100</option>
      <option value="150">150</option>
      <option value="200">200</option>
      <option value="250">250</option>
      <option value="300">300</option>
      <option value="400">400</option>
      <option value="500">500</option>
      <option value="750">750</option>
      <option value="1000">1000</option>
      <option value="1500">1500</option>
      <option value="3000">2000</option>
      <option value="3000">3000</option>
      <option value="3000">4000</option>
      <option value="5000+">5000</option>
    </select>


    <div class="checkout-slider-wrapper">
      <div class="mdc-slider" tabindex="0" role="slider"
           aria-valuemin="0" aria-valuemax="16" aria-valuenow="10" data-step="1"
           aria-label="Select Value">
        <div class="mdc-slider__track-container">
          <div class="mdc-slider__track"></div>
        </div>
        <div class="mdc-slider__thumb-container">
          <!--<div class="mdc-slider__pin">-->
          <!--<span class="mdc-slider__pin-value-marker">10</span>-->
          <!--</div>-->
          <svg class="mdc-slider__thumb" width="21" height="21">
            <circle cx="10.5" cy="10.5" r="7.875"></circle>
          </svg>
          <div class="mdc-slider__focus-ring"></div>
        </div>
      </div>
    </div>


    <!--<div><small>*based on new customers last month</small></div>-->

    <br><br>

    <div>
      <strong><span class="checkout-display-price">&nbsp</span></strong>
      to raise your customer lifetime value &nbsp
      <button id="checkout-purchase-button" class="mdc-button mdc-button--raised">
        Buy Now
      </button>
    </div>
    <br>
  </section>
</div>



<script>
  // TODO: Remove Jquery dependency
  // var handler = StripeCheckout.configure({
  //   key: 'pk_test_6pRNASCoBOKtIshFeQd4XMUh',
  //   image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
  //   locale: 'auto',
  //   token: function(token) {
  //     var quantity = $('.number').val();
  //     $.post({
  //       type: 'POST',
  //       url: '/subscription',
  //       data: { token: token.id, quantity: quantity }
  //     })
  //     // You can access the token ID with `token.id`.
  //     // Get the token ID to your server-side code for use.
  //   }
  // });

//  document.getElementById('checkout-purchase-button').addEventListener('click', function(e) {
//    // Open Checkout with further options:
//    handler.open({
//      name: 'Stripe.com',
//      description: '2 widgets',
//      zipCode: true,
//      amount: 2000
//    });
//    e.preventDefault();
//  });
//
//  // Close Checkout on page navigation:
//  window.addEventListener('popstate', function() {
//    handler.close();
//  });
</script>
