<%= currently_at "Targerting" %>

<table>
  <tbody>
    <thead>
      <tr>
        <th>Customer ID</th>
        <th>Fullname</th>
    </thead>
    <% @customers.each do |cus| %>
      <tr>
        <td><%= cus.id %></td>
        <td><%= cus.full_name %></td>
      </tr>
    <% end %>
    <% if @customers.empty? %>
      <tr><td colspan="2">No customer matched conditions.</td></tr>
    <% end %>
  </tbody>
</table>
