<p>Hi <%= @customer_name %>,</p>
<p>
We're glad to have you as a customer at <%= @shop_name %>. Hopefully you're enjoying your new purchase by now.
</p>
<p>Have you checked your mailbox recently?</p>
<p>We've sent a real, actual postcard to show how much we appreciate you!</p>
</br>
<p>From all of us, <br/> <%= @shop_name %></p>
