<h1>Congrats!</h1>
<h2>You're about to raise the value of each new customer.</h2>
<br>
<div class="wizard_template_box">
  <h4>What type of cards do you want to surprise your customers with?</h4>
  <button class="wizard_button" href= new_card_path>Coupon Postcard</button>
  <button class="wizard_button" href= new_card_path>Thank You Postcard</button>
</div>
<div class="card_display half_left">
  <h5>Example Coupon Card</h5>
  <!--Include example image in app-->
  <p> Coupon postcards include expiring coupons for each customer
</div>
<div class="card_display half_right">
  <h5>Example Thank You Card</h5>
  <!--Include example image in app-->
</div>
