<div class="jumbotron">
  <h2>Manage Cards</h2>
  <div class="card_display address_side">
    <h3>Address Side</h3>
    <!--Add the card address side here-->
  </div>
  <div class="card_display message_side">
    <h3>Message Side</h3>
    <!--Add the card message side here-->
  </div>
  <div class="well shop_settings">
    <!--Add Shop settings here (update with ajax)-->
  </div>
</div>
