<div class="row text-center">
  <p>
    Hi there! Shopify has changed the way that discount generation works.
    For Touchcard to continue work with your shop we need to update permissions.
    (No worries, this is actually less than we had before.)
  </p>
  <p> When you are redirected please click accept and we’ll bring you right back to our App. </p>
  <p> If you have any questions or issues please get in touch: support@touchcard.co </p>
  <p>
    Thanks,
    The Touchcard Team
  </p>

  <%= button_to "Ok", { action: "update_scope" }, { class: 'btn btn-primary' } %>
</div>
