// Active Admin's got SASS!
@import "active_material";


td.col {
  min-width: 8em;
}

td.col.col-id,
td.col.col-actions,
td.col.col-quantity,
td.col.col-domain,
td.col.col-type {
  word-break: normal;
  min-width: 1px;
}
