// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

/* Navbar */
.navbar-shopify {
  border-bottom: 2px solid;
}

/* Wizard pages */
.wizard_template_box {
  border: 2px solid;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  .row {
    padding-top: 15px;
  }
}
.card_editor {
  margin-top: 5%;
  img {
    position: relative;
  }
  label {
    font-size: 16px;
    color: #FFFFFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}
.custom_background_box {
  position: absolute;
  width: 30%;
  top: 2%;
  left: 40%;
}
.logo_box {
 position: absolute;
 width: 30%;
 top: 30%;
 left: 2%;
}
.card_editor_fields {
  position: absolute;
  top: 8%;
}
.card_title {
  margin-bottom: 10%;
  font-size: 28px;
}
.card_message {
  font-size: 20px;
}

/* Dashboard page */
.dashboard_section {
  padding: 20px;
  border-bottom: 1px solid;
}
.dashboard_section_last {
  padding: 20px;
  .table {
    border: 2px solid;
    thead > tr > td {
      border-right: 1px solid;
    }
    tr > td {
      border-right: 1px solid;
    }
  }
}

/* Card Displays */
.front_images {
  position: relative;
}
.card_display {
  width: 100%;
  border: 2px solid;
  border-radius: 2px;
}
.address_overlay {
  width: 100%;
  position: absolute !important;
  top: 0px;
}
.address_logo {
  width: 30%;
  position: absolute !important;
  top: 2%;
  left: 2%;
}

/* Settings table */
.shop_settings {
  padding: 0px;
}
.setting {
  padding: 15px;
  border-bottom: 1px solid;
  width: 98%;
  margin: auto;
}
.last_setting {
  padding: 15px;
  width: 98%;
  margin: auto;
}
