// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

@import 'jquery-ui/core.css';
@import "bootstrap-sprockets";
@import "bootstrap";

/* Navbar */
.navbar-shopify {
  border-bottom: 2px solid;
}
.navbar-brand {
  padding: 0px;
  img {
    height: 100%;
  }
}

/* Wizard pages */
.wizard_template_box {
  border: 2px solid;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  .row {
    padding-top: 15px;
  }
}
.template_switch {
  background-color: #FFFFFF;
  border: 0;
  color: #337ab7;
  padding-left: 0px;
}

/* Card Displays */
.preview:hover a{
  display: block !important;
}
.card_display {
  width: 100%;
  border: 2px solid;
  border-radius: 2px;
}

/* Master Card Editor Page */
.card_editor {
  margin-top: 5%;
  img {
    position: relative;
  }
  label {
    font-size: 16px;
    color: #FFFFFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}
.editor_images {
  position: relative;
}
.address_overlay {
  width: 100%;
  position: absolute !important;
  top: 0px;
}
.address_logo {
  width: 30%;
  position: absolute !important;
  top: 2%;
  left: 2%;
}
#bg_box_back {
  position: absolute;
  width: 30%;
  top:2%;
  left: 68%;
}
#bg_box_front {
  position: absolute;
  width: 30%;
  top: 6%;
  left: 4%;
}
.coupon_box {
  position: absolute;
  width: 28.3% !important;
  height: 25% !important;
  border: 1px dashed;
  padding: 10px;
  text-align: center;
  color: #FFFFFF;
  cursor: move;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  h1 {
    margin-top: 0px;
  }
  h3 {
    margin-top: 0px;
  }
  a {
    width: 40%;
    margin-bottom: 3%;
  }
  p {
    width: 100%;
  }
}
.logo_box {
 position: absolute;
 width: 30%;
 top: 30%;
 left: 2%;
}
.card_editor_fields {
  width: 50%;
  margin-left:50%;
  position: absolute;
  top: 0;
  bottom:0;
  padding:10px;
}
.card_title {
  margin-bottom: 3%;
  font-size: 22px;
  background-color: transparent;
  color: #FFFFFF;
}
.card_message {
  font-size: 18px;
  background-color: transparent;
  color: #FFFFFF;
}
.coupon_form_close {
  width: 10% !important;
  float: right;
  background-color: #DDDDDD;
  color: #FFFFFF;
  border-radius: 4px;
}
#coupon_pct_field {
  width: 50%;
  margin: auto;
}
#coupon_exp_field {
  width: 50%;
  float: left;
}

.bottom_row {
  margin-top: 30px;
  margin-bottom: 50px;
}

/* Dashboard page */
.dashboard_section {
  padding: 20px;
  border-bottom: 1px solid;
}
.dashboard_section_last {
  padding: 20px;
  .table {
    border: 2px solid;
    thead > tr > td {
      border-right: 1px solid;
    }
    tr > td {
      border-right: 1px solid;
    }
  }
}


/* Settings table */
.shop_settings {
  padding: 0px;
}
#settings_link {
  float:right;
  font-size: 30px;
  margin-top: 10px;
  margin-right: 20px;
  color: #555555 !important;
}
.setting {
  padding: 15px;
  border-bottom: 1px solid;
  width: 98%;
  margin: auto;
}
.last_setting {
  padding: 15px;
  width: 98%;
  margin: auto;
}
.shop_indicator {
  height: 1em;
  padding-right: 30px;
  margin-right: 10px;
  border: 1px solid;
  border-radius: 4px;
}
.shop_indicator.enabled {
  background-color: #00FF00;
}
.shop_indicator.not-enabled {
  background-color: #FF0000;
}
