$(".coupon_display").toggle();
$(".coupon_form").toggle();
$(".coupon_display.h1").innerHTML = '
            <h1><%= @card_template.coupon_pct %>% OFF</h1>
            <h3>Coupon-Code-123</h3>
          <p>
            <a href="#/" class="btn btn-sm btn-primary" onClick="flipCoupon()">Edit</a><br>
            EXPIRE <%= (Time.now + @card_template.send_delay.weeks + (@card_template.coupon_exp || 2).weeks).strftime("%D") %>
          </p>';
