<div class='panel'>
  <div class="form-content">
    <%= form_tag admin_change_password_change_path, multipart: true, authenticity_token: true, id: "change_password_form", method: :put do %>
      <div class="form-group row">
        <strong style="width: 200px">New Password</strong>
        <%= password_field_tag :new_password, '', required: true, class: "col-9" %>
      </div>
      <div class="form-group row">
        <strong style="width: 200px">Confirmation Password</strong>
        <%= password_field_tag :confirmation, '', required: true %>
      </div>
      <%= submit_tag 'Save password', class: "btn btn-success" %>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#change_password_form").submit(function(e) {
      if ($("#confirmation").val() != $("#new_password").val()) {
        $("#confirmation").css("border", "2px solid red");
        alert("Password and confirmation must be matches!");
        return false
      }
    })
  })
</script>
