
<strong>Please make sure the sample was properly created:</strong>
<ol>
  <li>Wait 5-10 seconds for the links below to start working.</li>
  <li>Check the front and back for correct address, formatting, etc</li>
  <li>If there are any problems click the Lob Admin link and cancel the postcard. <em>You only have 1 hour.</em></li>
</ol>

<br>
<%= link_to 'Front PNG', @lob_front_thumbnail %>
<br>
<%= link_to 'Back PNG', @lob_back_thumbnail %>
<br>
<%= link_to 'Full PDF', @lob_url %>
<br>
<strong><%= link_to 'Lob Admin Path', @lob_admin_path %></strong>

