<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">
          <%= link_to('Dashboard', dashboard_index_path, class: 'mdl-navigation_link') %>
        </a>
        <a class="mdl-navigation__link" href="">
          <%= link_to('Automations', app_path, class: 'mdl-navigation_link') %>
        </a>
        <a class="mdl-navigation__link" href="">
          <%= link_to('FAQ/Support', faq_path, class: 'mdl-navigation_link') %>
        </a>
        <a class="mdl-navigation__link" href="">
          <%= link_to('Subs', new_subscription_path, class: 'mdl-navigation_link') %>
        </a>
      </nav>
    </div>
  </header>
</div>
