<nav class="navbar navbar-touchcard">
  <div class="mail-strip"></div>
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="">Dashboard</a></li>
      <li><a href="">Automation</a></li>
      <li><%= link_to('FAQ/Support', faq_path) %></li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>
