<div class="mdl-tabs mdl-js-tabs white-bg">
  <div class="mdl-tabs__tab-bar">
    <%= link_to('Dashboard', dashboard_index_path,
      class: "#{current_class?(dashboard_index_path)} mdl-tabs__tab") %>
    <%= link_to('Automations', root_path,
      class: "#{current_class?(root_path)} mdl-tabs__tab") %>
    <%= link_to('FAQ/Support', faq_path,
      class: "#{current_class?(faq_path)} mdl-tabs__tab") %>
    <%= link_to('Subs', new_subscription_path,
      class: "#{current_class?(new_subscription_path)} mdl-tabs__tab") %>
  </div>
</div>
