<html>
<head>
  <meta charset="UTF-8">
  <title>Touchcard 4x6 Postcard Template</title>
  <script src="<%= @lob_js_pack_path %>"></script>
  <link rel="stylesheet" type="text/css" href="<%= @lob_css_pack_path %>">
</head>
<body>

<%= yield %>
</body>
</html>
