<html>
  <head>
    <style type="text/css">
      .send-error-report table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      .send-error-report td,
      .send-error-report th {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
      }

      .send-error-report tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
